.dot {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
}

#dot1 {
    background-color: rgba(52, 152, 219, 1.0);
    -webkit-animation: fade 2s linear infinite;
    /* Safari */
    animation: fade 2s linear infinite;
}

#dot2 {
    background-color: rgba(52, 152, 219, 1.0);
    -webkit-animation: fade 2s linear infinite;
    /* Safari */
    animation: fade 2s linear infinite;
    animation-delay: 400ms;
}

#dot3 {
    background-color: rgba(52, 152, 219, 1.0);
    -webkit-animation: fade 2s linear infinite;
    /* Safari */
    animation: fade 2s linear infinite;
    animation-delay: 800ms;
}

@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }

    35% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    35% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}