:root {
    --dot-color: rgba(99, 99, 99, 1.0);
}

.dot {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
}

#dot1 {
    background-color: var(--dot-color);
    -webkit-animation: fade 2s linear infinite;
    /* Safari */
    animation: fade 2000ms linear infinite;
}

#dot2 {
    background-color: var(--dot-color);
    -webkit-animation: fade 2s linear infinite;
    /* Safari */
    animation: fade 2s linear infinite;
    animation-delay: 250ms;
}

#dot3 {
    background-color: var(--dot-color);
    -webkit-animation: fade 2s linear infinite;
    /* Safari */
    animation: fade 2s linear infinite;
    animation-delay: 500ms;
}

#dot4 {
    background-color: var(--dot-color);
    -webkit-animation: fade 2s linear infinite;
    /* Safari */
    animation: fade 2s linear infinite;
    animation-delay: 750ms;
}

#dot5 {
    background-color: var(--dot-color);
    -webkit-animation: fade 2s linear infinite;
    /* Safari */
    animation: fade 2s linear infinite;
    animation-delay: 1000ms;
}

@-webkit-keyframes fade {
    0% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 0.8;
    }
}

@keyframes fade {
    20% {
        opacity: 1;
    }

    50% {
        opacity: 0.1;
    }

    80% {
        opacity: 1;
    }
}