.dotty {
    border-radius: 50%;
    max-width: 60px;
    max-height: 60px;
    min-height: 10px;
    min-width: 10px;
    background-color: rgba(166, 166, 166, 1.0);
    display: inline-block;
    transition: max-height 2s ease-in-out;
    margin: 40px;
    position: fixed;
    margin-left: 10px;
    /* border: 1px dotted black; */
}

#dotty1 {
    background-color: rgb(238, 12, 12);
    -webkit-animation: fade-grow 2s linear infinite;
    /* Safari */
    animation: fade-grow 2s linear infinite;
}

#dotty2 {
    background-color: rgb(82, 173, 21);
    -webkit-animation: fade-grow 2s linear infinite;
    /* Safari */
    animation: fade-grow 2s linear infinite;
    animation-delay: 250ms;
}

#dotty3 {
    background-color: rgb(31, 17, 221);
    -webkit-animation: fade-grow 2s linear infinite;
    /* Safari */
    animation: fade-grow 2s linear infinite;
    animation-delay: 500ms;
}

#dotty4 {
    background-color: rgb(22, 20, 20);
    -webkit-animation: fade-grow 2s linear infinite;
    /* Safari */
    animation: fade-grow 2s linear infinite;
    animation-delay: 750ms;
}

#dotty5 {
    background-color: rgb(236, 166, 14);
    -webkit-animation: fade-grow 2s linear infinite;
    /* Safari */
    animation: fade-grow 2s linear infinite;
    animation-delay: 1000ms;
}

@-webkit-keyframes fade-grow {
    0% {
        opacity: 0.8;
        min-height: 40px;
        min-width: 40px;
    }

    50% {
        opacity: 0.1;
        min-height: 60px;
        min-width: 60px;
    }

    100% {
        opacity: 0.8;
        min-height: 20px;
        min-width: 20px;
    }
}

@keyframes fade-grow {
    20% {
        opacity: 0.8;
        min-height: 40px;
        min-width: 40px;
        margin: 20px;
        opacity: 50%;
        margin-left: 10px;
        margin-top: 40px;
    }

    50% {
        opacity: 0.1;
        min-height: 60px;
        min-width: 60px;
        margin: none;
        opacity: 100%;
        margin-left: 80px;
        margin-top: 60px;
    }

    80% {
        opacity: 0.8;
        min-height: 20px;
        min-width: 20px;
        margin:40px;
        opacity: 20%;
        margin-left: 20px;
        margin-top: 0px;
    }
}